html body {
    width: 100%;
    height: 100%;
    
}

.container {
    width: 100%;
    margin-left: 200px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9)!important;
}

.collapse {
    margin-left: 50px !important;
    position: relative;
    top: -18px;
}

.navbar-brand {
    color: aliceblue !important;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 300px;
    margin-right: 200px;
}

.navbar-toggler-icon {
    color: aliceblue !important;
}

.navbar li a{
    color: aliceblue !important;
}

.navbar a:hover {
    color: rgb(255, 162, 0) !important;
}

.bg-box {
    width: 100%;  /* Set width to 100% for full viewport coverage */
    height: 100%;  /* Set height to 100% for full viewport coverage */
    z-index: -1;  
    position: absolute;
    top: 0;  /* Position at the top of the viewport */
    left: 0;  /* Position at the left of the viewport */
  }

.fa-user {
    color: aliceblue;
    margin-left: 100px;
}

.fa-user:hover {
    color: rgb(255, 162, 0);
}

.fa-shopping-cart {
    color: aliceblue;
    margin-left: 30px;
}

.fa-shopping-cart:hover {
    color: rgb(255, 162, 0);
}

.fa-search {
    color: aliceblue;
    margin-left: 30px;
}

.fa-search:hover {
    color: rgb(255, 162, 0);
    
}

.order_online {
    display: inline-block;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    text-decoration: none;
    margin-left: 30px;
}


.btn {
    background-color: rgb(255, 162, 0);
}

.center_area {
    color: aliceblue;
    margin-top: 200px;
    margin-left: 300px;
}

.btn1 {
    display: inline-block;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    text-decoration: none;
    margin-left: 0px;
    
}

#fastfood {
    font-family: 'Dancing Script', cursive;
}

.container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.carousel-indicators li {
    background-color: #ffbe33;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 1;
    list-style: none;
    border-bottom: 10px solid #ffffff;
    border-top: 10px solid #ffffff;
    position: relative;
    top: 200px;
    right: 500px;
}



.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 100%;
    padding-top: 90px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading_container h2 {
    position: relative;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-family: 'Dancing Script', cursive;
}

.filters_menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 50px;
    cursor: pointer;
}

.filters_menu li {
    margin: 10px;
    font-size: larger;
    border: #fff solid 1px;
    padding: 0px 20px;
    border-radius: 120px;
}

li.active {
    background-color: black;
    color: aliceblue;
}




.box-img {
    height: 200px;
    background-color: #f1f2f3;
    border: solid #f1f2f3;
    position: relative;
    top: 30px;
    border-radius: 20px 20px 0px 30px;

}

img:hover {
    transform: scale(1.1); /* Tăng kích thước 10% và di chuyển sang phải 10px */
}

.box-content {
    background-color: #292e32;
    color: aliceblue;
    padding: 50px 30px 10px 30px;
    z-index: -1;
}