html body {
    width: 100%;
    height: 100%;
    
}

.container {
    width: 100%;
    margin-left: 200px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9)!important;
}

.collapse {
    margin-left: 50px !important;
    position: relative;
    top: -18px;
}

.navbar-brand {
    color: aliceblue !important;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 300px;
    margin-right: 200px;
}

.navbar-toggler-icon {
    color: aliceblue !important;
}

.navbar li a{
    color: aliceblue !important;
}

.navbar a:hover {
    color: rgb(255, 162, 0) !important;
}

.bg-box {
    width: 100%;  /* Set width to 100% for full viewport coverage */
    height: 100%;  /* Set height to 100% for full viewport coverage */
    z-index: -1;  
    position: absolute;
    top: 0;  /* Position at the top of the viewport */
    left: 0;  /* Position at the left of the viewport */
  }

.fa-user {
    color: aliceblue;
    margin-left: 100px;
}

.fa-user:hover {
    color: rgb(255, 162, 0);
}

.fa-shopping-cart {
    color: aliceblue;
    margin-left: 30px;
}

.fa-shopping-cart:hover {
    color: rgb(255, 162, 0);
}

.fa-search {
    color: aliceblue;
    margin-left: 30px;
}

.fa-search:hover {
    color: rgb(255, 162, 0);
    
}

.order_online {
    display: inline-block;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    text-decoration: none;
    margin-left: 30px;
}


.btn {
    background-color: rgb(255, 162, 0);
}

.center_area {
    color: aliceblue;
    margin-top: 200px;
    margin-left: 300px;
}

.btn1 {
    display: inline-block;
    padding: 8px 30px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    text-decoration: none;
    margin-left: 0px;
    
}

#fastfood {
    font-family: 'Dancing Script', cursive;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.carousel-indicators li {
    background-color: #ffbe33;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 1;
    list-style: none;
    border-bottom: 10px solid #ffffff;
    border-top: 10px solid #ffffff;
    position: relative;
    top: 200px;
    right: 500px;
}

.modal_layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    width: 800px;
    height: 350px;
    margin: auto;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
}

.auth-form_container {
    padding: 10px;
}

.modal__heading {
    font-family: 'Dancing Script', cursive;
    color: #ffbe33;
}

.auth-form__header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(229, 229, 229);
    background-color: rgb(248, 248, 248);
    font-weight: 400;
}

.auth-form__group {
    margin: 10px;
}

#text_space {
    width: 100%;
    height: 50px;
    border-radius: 10px ;
    margin-top: 5px;
}

#text_space:focus {
    outline-color: #ffbe33;
}

.auth-form__controls {
    padding: 10px;
    align-items: center;
    border-top: solid 1px rgb(229, 229, 229);
    background-color: rgb(248, 248, 248);
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
}

.order {
    margin-right: 5px;
}

.order:hover {
    background-color: #ffbe31;
}
.close:hover {
    background-color: #ffbe31;
}